    <footer>
      <p>Nexio - Red Social &copy; 2026</p>

      <nav>
        <a href="/privacidad">Privacidad</a>
        <a href="/terminos">Terminos</a>
      </nav>
    </footer>
  </body>
</html>
